id: 2
name: About
uuid: 165dc108-2ba9-4a0b-9588-8b8c5aafbc75
image: 'https://snag.gy/3es5lO.jpg'
category: 3
option_set: 3

-----

    <section class="{{bgcolor}} {{textcolor}}" id="{{ anchortext|lower|replace({' ': ''}) }}" data-fred-render="{{published}}">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading" contenteditable="true" data-fred-name="head">We've got what you need!</h2>
            <hr class="light my-4">
            <div class="text-faded mb-4 text-left" contenteditable="true" data-fred-name="text" data-fred-rte="true" data-fred-rte-config="text">
            <p>Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
            </div>
            {% if button %}
                <a class="btn btn-light btn-xl text-center {% if linkscroll %} js-scroll-trigger {% endif %}" href="{{ link }}" contenteditable="true" data-fred-name="linktext">Get Started!</a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>