id: 5
name: Download
uuid: 7f369b90-04a6-4ada-96e6-8b8c5aafbddf
image: 'https://snag.gy/q1rbQl.jpg'
category: 3
option_set: 3
content: "    <section class=\"{{bgcolor}} {{textcolor}}\" id=\"{{ anchortext|lower|replace({' ': ''}) }}\" data-fred-render=\"{{published}}\">\n      <div class=\"container text-center\">\n        <h2 class=\"mb-4\" contenteditable=\"true\" data-fred-name=\"head\">Free Download at Start Bootstrap!</h2>\n        {% if button %}\n            <a class=\"btn btn-light btn-xl sr-button {% if linkscroll %} js-scroll-trigger {% endif %}\" href=\"{{ link }}\" contenteditable=\"true\" data-fred-name=\"linktext\">Download Now!</a>\n        {% endif %}\n      </div>\n    </section>"
